@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  width: 100%;
  margin: 0; /* not sure if superfluous or not */
}

._ltr {
  position: fixed;
  opacity: 1;
}

#开始 {
  opacity: 0;
}